* {
    margin:0px;
    padding: 0px;
    font-family:sans-serif;
}
#sidemenu {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #00CED1;
    left: 200px;
}
#sidemenu.active {
    left: 0px;
}
#sidemenu ul li {
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidemenu .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}
#sidemenu .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    margin: 3px;
    background: #00CED1;
}
